# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/TestC++/v17/Browse.VC.opendb
.vs/TestC++/FileContentIndex/16c6bc01-bc53-401c-8ff5-3b4079be2a56.vsidx
